/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
th,
td {
  padding: 10px 15px;
}
thead {
  background: #BF9780;
  color: #fff;
}
tbody tr:nth-child(even) {
  background: #F2E6D8;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*,:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  width: 1260px;
}
.container {
  padding-left: 30px;
  padding-right: 15px;
}

.grid,
.col-1-4,
.col-2-4,
.col-3-4 {
  padding-left: 5px;
  padding-right: 5px;
}

.col-1-4,
.col-2-4,
.col-3-4  {
  display: inline-block;
  vertical-align: top;
}

.col-1-4 {
  width: 24%;
}
.col-2-4 {
  width: 49%;
}
.col-3-4 {
  width: 74%;
}
/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt{
  min-width: 100%;
}

.row-alt {
   background: #8C7268;
   background: -webkit-linear-gradient(to right, #73434B, #F2E6D8);
   background: -moz-linear-gradient(to right, #73434B, #F2E6D8);
   background: linear-gradient(to right, #73434B, #F2E6D8);
   padding: 4% 0 2% 0;
 }

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5 {
  margin-bottom: 22px;
}


/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background: #401818;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, a {
  color: #19c5af;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #BF9780;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
html, p
{
  color: #fff
}
strong {
  font-weight: 400;/*normal*/
}
cite, em {
  font-style: italic;
}
/*
  ========================================
  Carousel
  ========================================

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,1.0);
  .mx-auto;
}
*/
.carousel-item img{
  opacity:0.5;
}

/*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}


/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #73434B;
}
.btn-default {
  border: 0;
  background: #73434B;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #BF9780;
}


/*
  ========================================
  Links
  ========================================
*/
.teaser a:hover {
  color: #F2E6D8;
}
a {
  text-decoration: none;
}
a:hover {
  color: #BF9780;
}
p a {
  border-bottom: 1px solid #8C7268;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}



/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  border-top: 4px solid #8C7268;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}
.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #8C7268;
}


/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: #8C7268;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/*section {
  display: inline-block;
  margin: 0 1.5%;
  width: 30%;
}*/

/*
  ========================================
  Home
  ========================================
*/

.misc {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
.misc h2 {
  font-size: 36px;
}
.misc p {
  font-size: 24px;
  font-weight: 100;
}

.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%
}

/*
  ========================================
  Webpages
  ========================================
*/
  
.website-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 88px;
  padding: 22px 0;
  text-align: center;
}
.website {
  margin-bottom: 44px;
}

/*
  ========================================
  Articles
  ========================================
*/

table {
  margin-bottom: 44px;
  width: 100%;
}
table:last-child {
  margin-bottom: 0;
}

th,
td {
  padding-bottom: 22px;
  vertical-align: top;
}
th {
  text-align: right;
  width: 20%;
}
td{
  width: 40%;
}

thead {
  line-height: 44px;
}
thead th {
  color: #F2E6D8;
  font-size: 24px;
}
tbody th {
  color: #BF9780;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}
tbody td {
  border-top: 1px solid #F2E6D8;
  padding-top: 21px;
}
table a {
  color: #BF9780;
}
table h4 {
  margin-bottom: 0;
}
.table{
  color:#c18282;
}
.schedule-offset {
  color: #BF9780;
}

/*
  ========================================
  Order
  ========================================
*/

.why-order {
  list-style: square;
  margin: 0 0 22px 30px;
}
form {
  margin-bottom: 22px;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.order-prj label {
  color: #8C7268;
  cursor: pointer;
  font-weight: 400;
}
.order-prj input,
.order-prj select,
.order-prj textarea {
  border: 1px solid #F2E6D8;
  border-radius: 5px;
  color: #8C7268;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.order-prj input,
.order-prj textarea {
  width: 100%;
}
.order-prj select {
  height: 34px;
  width: 60px;
}
.order-prj textarea {
  height: 78px;
}

/*for responsive navbar*/
.container {
        width: auto;
        max-width: 380px;
        padding: 0 15px;
}
.footer {
  padding: 15px;
  background-color: #f5f5f5;
}

body {
  line-height: 200%;
  padding-bottom: 100px;
}
